* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mainhub {
    height: 500px;
    width: 500px;
    background-color: lightblue;
    margin: 65px auto;
    padding: 35px 50px;
}

.main {
    /* height: 440px; */
    width: 400px;
    background-color: blue;
    border-radius: 15px;
    overflow: hidden;
}

.main .top {
    height: 90px;
    width: 400px;
    background-color: rgb(29, 29, 29);
}

.main .center {
    /* height: 70px; */
    width: 400px;
    background-color: rgb(202, 199, 199);
    display: grid;
    /* align-items: center;s */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px;
}

.x {
    border: 1px solid gray;
    line-height: 70px;
    text-align: center;
    /* padding: 35px 32px; */
}

.x a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 35px 32px;
}

.main .bottom {
    /* height: 280px; */
    /* width: 400px; */
    display: grid;
    grid-template-columns: 7.5fr 2.5fr;
}

.main .bottom .num {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 70px 70px 70px;
    background-color: #fff;
}

.main .bottom .equal {
    background-color: darkorange;
    line-height: 260px;
}